@import "tailwindcss";

@theme {
  --color-app-light: #fefcff;
  --color-app-dark: #0a0a0a;
  --color-primary-light: #7c3aed;
  --color-primary-dark: #ddd6fe;
  
  --font-family-sans: Inter, ui-sans-serif, system-ui;
}

@variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-white;
  }

  html.dark body {
    @apply bg-gray-950;
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.25s ease-out;
}